.navbar-item::after {
  content: "";
  width: 0%;
  background-color: #153a5b;
  height: 2px;
  display: block;
  transition: all 0.5s ease;
  margin-top: 2px;
}

.navbar-item:hover::after {
  width: 100%;
}
